version: '3'

services:

  app:
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    volumes:
      - .:/myapp
    ports:
      - "${HTTP_PORT}:3000"
    depends_on:
      - database
    environment:
      DATABASE_URL: "postgres://postgres:${DATABASE_PASSWORD}@database:5432/postgres"

  database:
    image: postgres:12.3
    volumes:
      - database:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: "${DATABASE_PASSWORD}"
    ports:
      - "${DATABASE_PORT}:5432"

volumes:
  database:
